body {
    font-family: Arial, sans-serif;
}

.image-container {
    overflow: hidden;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    opacity: 0.5;
}

.image-container.opacity-effect:hover img {
    opacity: 1.5;
}
