body {
    font-family: Arial, sans-serif;
}

.image-container {
    overflow: hidden;
    display: inline-block;
    width: 300px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.image-container.pan-effect:hover img {
    transform: translate(10px, 10px);
}
