/* AULA DO PROFESSOR ADRIANO SOBRE SOBRAS E GRADIENTES */

/* BOX SHADOW 
    - h-shadow (especifica o deslocamento horizontal da sombra em relação ao elemento.)
    - v-shadow (especifica o deslocamento vertical da sombra em relação ao elemento.)
    - blur (opcionalmente, define o desfoque da sombra. Quanto maior o valor, mais borrada a sombra) 
    - spread (opcionalmente, define o alargamento ou encolhimento da sombra.)
    - color (especifica a cor da sombra)
    - inset (opcionalmente, define se a sombra deve ser interna (inset) ou externa (omitid
- inset (opcionalmente, define se a sombra deve ser interna (inset) ou externa (omitido ou definido como padrão). */

/* div{
    background-color: black;
    background-image: url(https://th.bing.com/th/id/OIP.C7H0xFyMxFTl2eIZnqhS_AHaEo?w=2560&h=1600&rs=1&pid=ImgDetMain);
 
    background-size: auto;
    background-position: 40px 50px;
    background-size: contain;
}
 */

.div1{
width: 200px;
height: 200px;
background-color: #b6d464;
box-shadow: 2px 2px 4px 2px rgb(9, 17, 129),0px 0px 4px 2px rgb(64, 104, 41);

}

.div2{
    width: 200px;
    height: 200px;
    background-color: #e0918c;
    box-shadow: inset -0px 0px 4px 2px rgb(2, 4, 36),0px 0px 4px 2px rgb(64, 104, 41);
    
    }
    
/* body{
    background-color: black;
    background-image: url(https://th.bing.com/th/id/OIP.C7H0xFyMxFTl2eIZnqhS_AHaEo?w=2560&h=1600&rs=1&pid=ImgDetMain);
    background-size: auto;
    background-position: 40px 50px;
    background-size: contain;
} */

body{
    background-image: radial-gradient(circle at center,#fff,#c51e12,#fdfdfd,#3209eb
    );
}

div{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90deg,#ff0000 50%, rgb(241, 226, 10) 50%); */
    background: linear-gradient(90deg,#ff0000 , rgb(241, 226, 10) );
}


